html, body {
    height: 100%
}

body {
  padding-top: 50px;
<<<<<<< HEAD
  background-image: url('../images/bg.png');
=======
  background-image: url('../images/bg.jpg');
>>>>>>> 6116c53dd59b4b358209fc77a9af3557e3aab5aa
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.circular {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
}

.media {
  margin-top: 5px;
  margin-bottom: 0px;
  line-height: 1.2;
}

.tile {
  padding: 10px 0 0 0;
}

.tile-inner {
  margin: 0px 5px 0px 5px;
  background-color: #fefefe;
  position: relative;
  height: 250px;
<<<<<<< HEAD
  padding: 10px;
  border-radius: 15px;
=======
  padding: 3px;
>>>>>>> 6116c53dd59b4b358209fc77a9af3557e3aab5aa
}

.tile-inner-tall {
  margin: 0px 5px 0px 5px;
  background-color: #fefefe;
  position: relative;
  height: 510px;
<<<<<<< HEAD
  padding: 10px;
  border-radius: 15px;
=======
  padding: 3px;
>>>>>>> 6116c53dd59b4b358209fc77a9af3557e3aab5aa
}

.header-spacer {
  height: 50px;
}

 h1, h3 {
  margin-top: 0px;
 }

.agent-image {
  margin-right: 30px;
  width: 130px;
  height: 130px;
}

.ticker {
  height: 205px;
  overflow-y: auto;
}

.short-ticker {
<<<<<<< HEAD
  height: 160px;
=======
  height: 170px;
>>>>>>> 6116c53dd59b4b358209fc77a9af3557e3aab5aa
  overflow-y: auto;
}

.tall-ticker {
<<<<<<< HEAD
  height: 420px;
=======
  height: 430px;
>>>>>>> 6116c53dd59b4b358209fc77a9af3557e3aab5aa
  overflow-y: auto;
}

.critical {
  background-color: #E42217;
  color: #fefefe;
}

.alert {
  margin: 0 0 2px 0;
  padding: 5px 5px 5px 5px;
}

.strike {
  text-decoration: line-through;
}
<<<<<<< HEAD

.todo {
  padding: 5px;
}
=======
>>>>>>> 6116c53dd59b4b358209fc77a9af3557e3aab5aa
