<!doctype html>
<html class="no-js" lang="en">
<head>
  <meta charset="utf-8">
  <title>Agent Dash</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  <!-- build:css(.) styles/vendor.css -->
  <!-- bower:css -->
  <!-- endbower -->
  <!-- endbuild -->
  <!-- build:css(.tmp) styles/main.css -->
  <link rel="stylesheet" href="styles/main.css">
  <!-- endbuild -->
</head>
<body ng-app="agentDashApp">
  <!--[if lt IE 7]>
  <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->

  <!-- Add your site or application content here -->
  <nav class="navbar navbar-default navbar-fixed-top navbar-inverse" role="navigation">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Agent Dash</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="#">Notes</a></li>

        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
    <div class="header-spacer"></div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12 header-spacer"></div>
      </div>
      <div class="row">
        <div class="col-md-8">
          <div class="row">
            <div class="col-md-6 tile">
              <div class="tile-inner">
<<<<<<< HEAD
                <div style="height: 130px">
=======
                <div style="height: 150px">
>>>>>>> 6116c53dd59b4b358209fc77a9af3557e3aab5aa
                  <img src="http://placehold.it/130x130" align="left" class="circular agent-image">
                  <h1>Hi, Joe</h1>
                  <div ng-controller="CurrentTickets">
                    <span class="glyphicon glyphicon-road"></span> <strong>{{tickets.wip}}</strong> Work In Progress<br />
                    <span class="glyphicon glyphicon-hand-right"></span> <strong>{{tickets.assigned}}</strong> Assigned<br />
                    <span class="glyphicon glyphicon-eye-open"></span> <strong>{{tickets.pending}}</strong> Pending<br />
                  </div>
                </div>
                <div class="row" align="center" ng-controller="TicketStats">
                  <div class="col-md-4"><h1>5</h1>tickets resolved this hour</div>
                  <div class="col-md-4"><h1>25</h1>tickets resolved today</div>
                  <div class="col-md-4"><h1>100</h1>tickets resolved this week</div>
                </div>
              </div>
            </div>
            <div class="col-md-6 tile">
              <div class="tile-inner">
                <h3>Alerts</h3>
                <div class="ticker" ng-controller="AlertTicker">
                  <div class="alert" ng-repeat="alert in alerts" ng-class="{critical: alert.type=='critical'}">
                    <span ng-show="alert.inc">{{alert.inc}} - </span>{{alert.text}}<span ng-show="alert.location"> - {{alert.location}}</span><span ng-show="alert.raisedBy"> - {{alert.raisedBy}}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 tile">
              <div class="tile-inner">
                <h3>Updates</h3>
                <div class="ticker short-ticker" ng-controller="UpdateTicker">
                  <div class="update" ng-repeat="update in updates">
                    <div class="media">
                      <a class="media-left media-middle" href="#">
                        <img src="{{update.image}}" alt="...">
                      </a>
                      <div class="media-body">
                        {{update.text}}<br /><span class="muted">{{update.author}}</span>
                      </div>
                    </div>
                    <br />
                  </div>
                </div>
                <div class="input-group">
                  <input type="text" class="form-control" maxlength="200">
                  <span class="input-group-btn">
                    <button class="btn btn-default" type="button">Say!</button>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 rightbar tile">
          <div class="tile-inner-tall" ng-controller="ToDo">
            <h3>To Do</h3>
            <div class="input-group">
              <input type="text" class="form-control" maxlength="200">
              <span class="input-group-btn">
                <button class="btn btn-default" type="button">Add</button>
              </span>
            </div>
            <div class="tall-ticker">
              <div class="todo" ng-repeat="item in todos">
                <input type="checkbox" ng-model="item.done"/> <span ng-class="{strike: item.done}">{{item.task}}</span>
              </div>
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID
    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-XXXXX-X');
  ga('send', 'pageview');
</script>-->

<!-- build:js(.) scripts/oldieshim.js -->
<!--[if lt IE 9]>
<script src="bower_components/es5-shim/es5-shim.js"></script>
<script src="bower_components/json3/lib/json3.js"></script>
<![endif]-->
<!-- endbuild -->

<!-- build:js(.) scripts/vendor.js -->
<!-- bower:js -->
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/affix.js"></script>
<script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/alert.js"></script>
<script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/button.js"></script>
<script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/carousel.js"></script>
<script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/collapse.js"></script>
<script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/dropdown.js"></script>
<script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/tab.js"></script>
<script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/transition.js"></script>
<script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/scrollspy.js"></script>
<script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/modal.js"></script>
<script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/tooltip.js"></script>
<script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/popover.js"></script>
<script src="bower_components/angular-animate/angular-animate.js"></script>
<script src="bower_components/angular-cookies/angular-cookies.js"></script>
<script src="bower_components/angular-resource/angular-resource.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="bower_components/angular-touch/angular-touch.js"></script>
<!-- endbower -->
<!-- endbuild -->

<!-- build:js({.tmp,app}) scripts/scripts.js -->
<script src="scripts/app.js"></script>
<script src="scripts/controllers/main.js"></script>
<script src="scripts/controllers/about.js"></script>
<!-- endbuild -->
</body>
</html>
