/*
Error: Invalid CSS after "...kground-image: ": expected "{", was "url('../images/..."
        on line 8 of /home/joe/Web Development/service-desk/agent-dash/app/styles/custom.scss
        from line 94 of /home/joe/Web Development/service-desk/agent-dash/app/styles/main.scss

3: }
4: 
5: body {
6:   padding-top: 50px;
7: <<<<<<< HEAD
8:   background-image: url('../images/bg.png');
9: =======
10:   background-image: url('../images/bg.jpg');
11: >>>>>>> 6116c53dd59b4b358209fc77a9af3557e3aab5aa
12:   background-size: 100% 100%;
13:   background-repeat: no-repeat;

Backtrace:
/home/joe/Web Development/service-desk/agent-dash/app/styles/custom.scss:8
/home/joe/Web Development/service-desk/agent-dash/app/styles/main.scss:94
/var/lib/gems/2.1.0/gems/sass-3.4.8/lib/sass/scss/parser.rb:1163:in `expected'
/var/lib/gems/2.1.0/gems/sass-3.4.8/lib/sass/scss/parser.rb:1099:in `expected'
/var/lib/gems/2.1.0/gems/sass-3.4.8/lib/sass/scss/parser.rb:1094:in `tok!'
/var/lib/gems/2.1.0/gems/sass-3.4.8/lib/sass/scss/parser.rb:641:in `block'
/var/lib/gems/2.1.0/gems/sass-3.4.8/lib/sass/scss/parser.rb:711:in `declaration_or_ruleset'
/var/lib/gems/2.1.0/gems/sass-3.4.8/lib/sass/scss/parser.rb:661:in `block_child'
/var/lib/gems/2.1.0/gems/sass-3.4.8/lib/sass/scss/parser.rb:653:in `block_contents'
/var/lib/gems/2.1.0/gems/sass-3.4.8/lib/sass/scss/parser.rb:642:in `block'
/var/lib/gems/2.1.0/gems/sass-3.4.8/lib/sass/scss/parser.rb:635:in `ruleset'
/var/lib/gems/2.1.0/gems/sass-3.4.8/lib/sass/scss/parser.rb:660:in `block_child'
/var/lib/gems/2.1.0/gems/sass-3.4.8/lib/sass/scss/parser.rb:653:in `block_contents'
/var/lib/gems/2.1.0/gems/sass-3.4.8/lib/sass/scss/parser.rb:117:in `stylesheet'
/var/lib/gems/2.1.0/gems/sass-3.4.8/lib/sass/scss/parser.rb:42:in `parse'
/var/lib/gems/2.1.0/gems/sass-3.4.8/lib/sass/engine.rb:393:in `_to_tree'
/var/lib/gems/2.1.0/gems/sass-3.4.8/lib/sass/engine.rb:299:in `to_tree'
/var/lib/gems/2.1.0/gems/sass-3.4.8/lib/sass/tree/visitors/perform.rb:313:in `block in visit_import'
/var/lib/gems/2.1.0/gems/sass-3.4.8/lib/sass/stack.rb:88:in `block in with_import'
/var/lib/gems/2.1.0/gems/sass-3.4.8/lib/sass/stack.rb:115:in `with_frame'
/var/lib/gems/2.1.0/gems/sass-3.4.8/lib/sass/stack.rb:88:in `with_import'
/var/lib/gems/2.1.0/gems/sass-3.4.8/lib/sass/tree/visitors/perform.rb:312:in `visit_import'
/var/lib/gems/2.1.0/gems/sass-3.4.8/lib/sass/tree/visitors/base.rb:36:in `visit'
/var/lib/gems/2.1.0/gems/sass-3.4.8/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/var/lib/gems/2.1.0/gems/sass-3.4.8/lib/sass/stack.rb:79:in `block in with_base'
/var/lib/gems/2.1.0/gems/sass-3.4.8/lib/sass/stack.rb:115:in `with_frame'
/var/lib/gems/2.1.0/gems/sass-3.4.8/lib/sass/stack.rb:79:in `with_base'
/var/lib/gems/2.1.0/gems/sass-3.4.8/lib/sass/tree/visitors/perform.rb:158:in `visit'
/var/lib/gems/2.1.0/gems/sass-3.4.8/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/var/lib/gems/2.1.0/gems/sass-3.4.8/lib/sass/tree/visitors/base.rb:52:in `map'
/var/lib/gems/2.1.0/gems/sass-3.4.8/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/var/lib/gems/2.1.0/gems/sass-3.4.8/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
/var/lib/gems/2.1.0/gems/sass-3.4.8/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/var/lib/gems/2.1.0/gems/sass-3.4.8/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
/var/lib/gems/2.1.0/gems/sass-3.4.8/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/var/lib/gems/2.1.0/gems/sass-3.4.8/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
/var/lib/gems/2.1.0/gems/sass-3.4.8/lib/sass/tree/visitors/base.rb:36:in `visit'
/var/lib/gems/2.1.0/gems/sass-3.4.8/lib/sass/tree/visitors/perform.rb:157:in `visit'
/var/lib/gems/2.1.0/gems/sass-3.4.8/lib/sass/tree/visitors/perform.rb:8:in `visit'
/var/lib/gems/2.1.0/gems/sass-3.4.8/lib/sass/tree/root_node.rb:36:in `css_tree'
/var/lib/gems/2.1.0/gems/sass-3.4.8/lib/sass/tree/root_node.rb:20:in `render'
/var/lib/gems/2.1.0/gems/sass-3.4.8/lib/sass/engine.rb:268:in `render'
/var/lib/gems/2.1.0/gems/sass-3.4.8/lib/sass/plugin/compiler.rb:491:in `update_stylesheet'
/var/lib/gems/2.1.0/gems/sass-3.4.8/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/var/lib/gems/2.1.0/gems/sass-3.4.8/lib/sass/plugin/compiler.rb:209:in `each'
/var/lib/gems/2.1.0/gems/sass-3.4.8/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/var/lib/gems/2.1.0/gems/compass-1.0.1/lib/compass/sass_compiler.rb:40:in `compile!'
/var/lib/gems/2.1.0/gems/compass-1.0.1/lib/compass/commands/update_project.rb:49:in `perform'
/var/lib/gems/2.1.0/gems/compass-1.0.1/lib/compass/commands/base.rb:18:in `execute'
/var/lib/gems/2.1.0/gems/compass-1.0.1/lib/compass/commands/project_base.rb:19:in `execute'
/var/lib/gems/2.1.0/gems/compass-1.0.1/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
/var/lib/gems/2.1.0/gems/compass-1.0.1/lib/compass/exec/sub_command_ui.rb:15:in `run!'
/var/lib/gems/2.1.0/gems/compass-1.0.1/bin/compass:30:in `block in <top (required)>'
/var/lib/gems/2.1.0/gems/compass-1.0.1/bin/compass:44:in `call'
/var/lib/gems/2.1.0/gems/compass-1.0.1/bin/compass:44:in `<top (required)>'
/usr/local/bin/compass:23:in `load'
/usr/local/bin/compass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"...kground-image: \": expected \"{\", was \"url('../images/...\"\A         on line 8 of /home/joe/Web Development/service-desk/agent-dash/app/styles/custom.scss\A         from line 94 of /home/joe/Web Development/service-desk/agent-dash/app/styles/main.scss\A \A 3: }\A 4: \A 5: body {\A 6:   padding-top: 50px;\A 7: <<<<<<< HEAD\A 8:   background-image: url('../images/bg.png');\A 9: =======\A 10:   background-image: url('../images/bg.jpg');\A 11: >>>>>>> 6116c53dd59b4b358209fc77a9af3557e3aab5aa\A 12:   background-size: 100% 100%;\A 13:   background-repeat: no-repeat;"; }
